h1
{
    background-color: antiquewhite;
    display: grid;
    text-align: center;
}
td 
{
    border: 1px solid grey;
    border-collapse: collapse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: white;
    transition-property: transform;
    transition-duration: 1s;
    width:30px;
    height:30px;
}
td:hover
{
    background-color: red;
    transition-property: transform;
    transition-duration: 1s;
}
.level{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.gamePlay{
    display: flex;
    justify-content: center;
}
.one{
    color: rgb(0, 81, 255);
}
.two{
    color: forestgreen ;
}
.three{
    color: darkorange;
}
.four{
    color: brown;
}
.five{
    color: indigo; 
}
.six{
    color: darkgoldenrod;
}
.seven{
    color: gray;
}
.eight{
    color: black;
}
.zero{
    color: aqua;
}
.hint{
    margin-left: 10%;
}
.hint_times{
    font-size: 75%;
    margin-left: 63%;;
}
.timer{
    font-size: 75%;
    margin-left: 62.5%;;
}