<h1>Mine Sweeper Game</h1>
<div class="level">
  <span>Level:</span>
  <button (click)="newGame(1)">Easy game</button>
  <button (click)="newGame(2)">Medium game</button>
  <button (click)="newGame(3)">Hard game</button>
  <button (click)="hint()" class="hint">Hint</button>
</div>
<div class= "hint_times">Hint left: {{numHint}}</div>
<div class= "timer">Time used: {{time}}s</div>

<br>
<div class="gamePlay">
  <table>
    <tr *ngFor="let row of board.cells; index as y">
      <td
        *ngFor="let cell of row; index as x"
        (click)="checkCell(cell)"
        (contextmenu)="$event.preventDefault(); flag(cell)"
      >
        <div *ngIf="cell.status === 'clear' && !cell.mine" class="clear">
          <div *ngIf="cell.proximityMines === 0" class="zero">0</div>
          <div *ngIf="cell.proximityMines === 1" class="one">1</div>
          <div *ngIf="cell.proximityMines === 2" class="two">2</div>
          <div *ngIf="cell.proximityMines === 3" class="three">3</div>
          <div *ngIf="cell.proximityMines === 4" class="four">4</div>
          <div *ngIf="cell.proximityMines === 5" class="five">5</div>
          <div *ngIf="cell.proximityMines === 6" class="six">6</div>
          <div *ngIf="cell.proximityMines === 7" class="seven">7</div>
          <div *ngIf="cell.proximityMines === 8" class="eight">8</div>
        </div>
        <div *ngIf="cell.status === 'flag'" class="flag">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#000000" d="M14.4,6L14,4H5V21H7V14H12.6L13,16H20V6H14.4Z" />
          </svg>
        </div>
        <div *ngIf="cell.mine && cell.status === 'clear'" class="mine">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path
              fill="#000000"
              d="M23,13V11H19.93C19.75,9.58 19.19,8.23 18.31,7.1L20.5,4.93L19.07,3.5L16.9,5.69C15.77,4.81 14.42,4.25 13,4.07V1H11V4.07C9.58,4.25 8.23,4.81 7.1,5.69L4.93,3.5L3.5,4.93L5.69,7.1C4.81,8.23 4.25,9.58 4.07,11H1V13H4.07C4.25,14.42 4.81,15.77 5.69,16.9L3.5,19.07L4.93,20.5L7.1,18.31C8.23,19.19 9.58,19.75 11,19.93V23H13V19.93C14.42,19.75 15.77,19.19 16.9,18.31L19.07,20.5L20.5,19.07L18.31,16.9C19.19,15.77 19.75,14.42 19.93,13H23M12,8A4,4 0 0,0 8,12H6A6,6 0 0,1 12,6V8Z"
            />
          </svg>
        </div>
      </td>
    </tr>
  </table>
</div>

